.myBanner {
    background: #295971;
    background-image: linear-gradient(to left, #dc143c, #ff8c00, #fafad2);
    color: black;
}

body {
  background-color: rgba(255, 99, 71, 0.5);
    font-family:verdana;


:root {
  --red: #ff0000;
  --orange: #ffa500;
  --yellow: #ffff00;
}


body {
  background-color: var(--yellow);
}


header {
  background-color: var(--red);
  color: white;
  padding: 20px;
}


nav {
  background-color: var(--orange);
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: var(--red);
}


main {
  padding: 20px;
}


footer {
  background-color: var(--red);
  color: white;
  padding: 10px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  width: 50%;
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.arrow-container {
  text-align: center;
  margin-top: 20px;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: 10%;
  padding:2%;
}

#audio-player {
    width: 30%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}
