.myBanner {
    background: #295971;
    background-image: linear-gradient(to left, #dc143c, #ff8c00, #fafad2);
    color: white;
}

body {
  background-color: rgba(255, 99, 71, 0.5);
}

h1 {
  background-color: red;
}

div {
  background-color: orange;
}

p {
  background-color: yellow;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  width: 50%;
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.arrow-container {
  text-align: center;
  margin-top: 20px;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: 10%;
  padding:2%;
}
