<!DOCTYPE html>
<html lang="en">
<head> 
 <meta charset="utf-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
 <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<!-- BEGIN NAVIGATION BAR -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav notranslate">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Why Madrid.html">Why Madrid</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="History.html">History</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="Vocabulary.html">Vocabulary</a>
         </li>
       <li class="nav-item">
          <a class="nav-link" href="Architecture.html">Architecture</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END NAV BAR -->
 
<!-- BEGIN BANNER -->
<div class="container-fluid p-5  text-center myBanner notranslate">
 <h1>The melting-pot that is Madrid</h1>
  <p>Why you should visit, and what it has to offer!</p> 
</div>
<!-- END BANNER -->
 
<div class="container mt-5">
 {{ content }}
</div>

</body>
</html>
